@{
    Layout = "../Shared/_LayoutLogin.cshtml";

}
<div class="alert-success">
    <h2>Parabens sua conta foi criada com SUCESSO! Clique <a href="../Usuario/Login"> aqui</a> para efetuar Login no sistema</h2>
</div>

